
/* Your CSS Code here. */
*{

}
thead{
	background-color: rgb(214, 52, 85);
	text-align:left; 
}
tbody{
	margin:20px;
	
}
.waist{
	background-color: rgb(242, 183, 195);
}
.chest{
	background-color: rgb(248, 225, 229);
}
.sleeve{
	background-color: rgb(227, 239, 244);
}
table{
	align-content: space-between;
	width:100%;
	
}